@charset "utf-8";
@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Italianno';
    src: url('../font/Italianno/Italianno-Regular.eot');
    src: url('../font/Italianno/Italianno-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Italianno/Italianno-Regular.woff2') format('woff2'),
        url('../font/Italianno/Italianno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@supports((animation-timeline: scroll()) and (animation-range: 0% 100%)) {

    .progress {
        animation: scroller 1s linear both;
        animation-timeline: scroll(root block);
    }
}


/* ANIMATIONS */
@keyframes scroller {
    from {
        width: 0;
    }

    to {
        width: 100vw
    }
}


html,
body {

    background: transparent;
    overflow-X: hidden;
}

body {
    max-width: 1200px;
    width: calc(100% - 40px);
    color: #251125;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    background-color: #3a3f45;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

#background {
    display: block;
    width: 100%;
    height: 100lvh !important;
    left: 0;
    position: fixed;
    top: 0;
    z-index: -1;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
}


caption {

    text-align: left;
    left: 40px;
    position: fixed;
    top: 24px;
    z-index: 9999999999;
}

caption img {
    width: 100%;
}


h1 {
    font-size: 3vw;
    font-weight: 800;
    line-height: 1.4;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5vw auto 0;
    padding: 40px;
    max-width: 800px;
    white-space: nowrap;
}


.italianno {
    color: #99090A;
    display: inline-block;
    font-family: 'Italianno';
    font-size: 8rem;
    font-weight: 700;
}

/* hero */
.row {
    background-color: #0000;
    background-position: 0 0;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.text-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    -webkit-clip-path: inset(0px 0px 0px 0px);
    clip-path: inset(0px 0px 0px 0px);
}

.text-holder p {
    font-weight: 400;
    font-size: 4vw;
}

.hero .text {
    transform: translateZ(0);
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0%;
    line-height: 1.5;
}


/* 프로필 설정 */

.self-introduce {
    position: relative;
    height: 1040px;

}

.profile-bg {
    position: absolute;
    width: 1200px;
    height: 2216px;
    top: -100px;
    left: 80px;
}


.profile-bg img {
    width: 100%;
    height: 100%;
}

.profile {
    width: 45.71%;
    margin: 0 auto;
    padding: 3.75%;
    border: 1px solid #99090A;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 4.25%;
    align-items: center;
    background-color: #ffffff5e;
}

.profile .photo {
    width: 200px;
    height: 240px;
    border-radius: 60px;
    overflow: hidden;
    position: static;
    z-index: 111;
}

.profile .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile .text {
    height: 100%;
    font-size: 1.2rem;
}

.profile .text strong {
    font-size: 2rem;
}

.profile .text p {
    margin: 12px 0;
}

.profile .text .job {
    font-size: 1rem;
    margin-left: 4px;
    color: #00000088;
}

.profile .text p.birth {
    margin-top: 24px;
}

.lang {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 28px;
    font-weight: 700;
}




/* 타임라인 */
.timeline {
    max-width: 800px;
    height: 920px;
    position: relative;

}


.timeline-item.img {
    width: 400px;
    height: 268px;
    top: 0;
    left: 0;
}

.timeline-item.img img {
    width: 100%;
    height: 100%;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 120px;
    position: relative;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-out;
    top: -200px;
    left: 0px;
}

.timeline-item.uxui {
    left: -40px;
}

.timeline-item.show {
    opacity: 1;
    transform: translateY(0);
}

.timeline-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #990909;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-content {
    background: rgba(255, 255, 255, 0.185);
    padding: 20px 25px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    width: 40%;
    position: relative;
    box-shadow: 2px 2px 10px #0000001e;
}

.timeline-content h3 {
    color: #000000;

}

.timeline-content p {
    line-height: 1.5;
}

.timeline-content .date {
    font-size: 0.9rem;
    color: #94a3b8;
    display: block;
    margin-bottom: 20px;

}

/* Alternate positioning */
.timeline-item .timeline-content {
    right: -55%;
}


:root {
    --count: 7;
    --width: 13vw;
    --height: calc(14 / 9 * var(--width));
    --padding: 50px;
    --duration: 10s;
    --hue: 280;
    --img: '';
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}



.timeline-item.img-teacher img {
    width: 100%;
}


.skills {
    margin-top: 4rem;
    text-align: center;
}

.skills strong {
    margin-right: 12px;
}

.skills img {
    width: 45px;
}


/* Responsive */
@media (max-width: 762px) {

    .timeline-item.uxui {
        left: 0;
    }

    .timeline-icon {
        left: 0;
        transform: translateX(0);
    }

    .timeline-content {
        width: calc(100% - 80px);
        left: 75px !important;
    }
}

/* project */
:root {
    --gap: 1.25rem;
    --speed: 0.55s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --closed: 5rem;
    --open: 50rem;
    --accent: #990909;
}



.project .head {
    max-width: 1400px;
    margin: auto;
    padding: 70px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
}

.project .head h2 {
    font-size: 6rem;
}



.project .nav-btn {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.12);
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.project .nav-btn:hover {
    background: var(--accent);
}

.project .nav-btn:disabled {
    opacity: 0.3;
    cursor: default;
}

.project .slider {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

.project .controls {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.project .track {
    display: flex;
    gap: var(--gap);
    align-items: flex-start;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 40px;
}

.project .track::-webkit-scrollbar {
    display: none;
}

.project .project-card {
    position: relative;
    flex: 0 0 var(--closed);
    height: 42rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: flex-basis var(--speed), transform var(--speed);
}

.project-info {
    display: none;
    /* 기본적으로 숨김 */
}


.project .project-card[active] {
    flex-basis: 40vw;
    transform: translateY(-6px);
    box-shadow: 0 18px 55px rgba(0, 0, 0, 0.45);
}

.project .project-card__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.75) saturate(75%);
    transition: filter 0.3s, transform var(--speed);
}

.project .project-card:hover .project-card__bg {
    filter: brightness(0.9) saturate(100%);
    transform: scale(1.06);
}

.project .project-card__content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    padding-left: 0;
    background: linear-gradient(transparent 10%, rgba(255, 255, 255, 0.5) 60%);
    z-index: 2;
}


.project-card__info {
    padding: 18px;
    margin: 0;
    text-align: left;
    font-size: 1.1rem;
    color: #444;
    line-height: 1.5;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
}

.project-card__info li {
    margin-bottom: 6px;
}

.project-card__info strong {
    display: inline-block;
    width: 100px;
    /* 제목 고정폭으로 정렬 */
    color: #222;
}

.project .project-card__title {
    color: #000000c5;
    font-weight: 700;
    font-size: 1.35rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 25px;
}

.project .project-card__thumb,
.project .project-card__desc,
.project .project-card__btn {
    display: none;
}



.project .project-card[active] .project-card__content {
    padding: 1.2rem 2rem;
}

.project .project-card[active] .project-card__contribution {
    margin-bottom: 6px;

}

.project .project-card[active] .project-card__title {
    margin-left: auto;
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 2.4rem;
    margin-bottom: 12px;
}

.project .project-card[active] .project-card__thumb,
.project .project-card[active] .project-card__desc,
.project .project-card[active] .project-card__btn {
    display: block;
}

.project .project-card__thumb {
    width: 133px;
    border-radius: 0.45rem;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.project .project-card__desc {
    color: #535353;
    font-size: 1rem;
    line-height: 1.4;
    max-width: 16rem;
    margin: 4px 0 20px;
}

.project .project-card__btn {
    padding: 1.2rem 5.3rem;
    border: none;
    border-radius: 9999px;
    background: var(--accent);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 30px;
}

.project .project-card__btn:hover {
    background: #990909;
    border: 1px solid rgba(255, 255, 255, 0.637);
    transform: scale(1.2);
}

.project .dots {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 20px 0;
}

.project .dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);
    cursor: pointer;
    transition: 0.3s;
}

.project .dot.active {
    background: var(--accent);
    transform: scale(1.2);
}

.project .project-card[active] .project-card__tags {
    margin-top: 15px;
}

.project-card__tags {
    margin: 9px;

}

.project-card__tags span {
    display: inline-block;
    height: auto;
    color: #464646e0;
    font-size: 12px;
    font-weight: 500;
    padding: 6px;
    border: 2px dashed #5e5e5ebd;
    border-radius: 20px;
    margin-bottom: 12px;
    text-align: center;
}

.project-card__tags span.web {
    background-color: #355cfa0e;
}

.project-card__tags span.app {

    background-color: #9909090a;
}

.project-card__tags span.responsive {
    margin-left: 6px;
}

@media (max-width: 767px) {
    :root {
        --closed: 4rem;
        --open: 22rem;
    }

    .project .head {
        padding: 50px 20px 30px;
    }

    .project .track {
        flex-direction: column;
        scroll-snap-type: y mandatory;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 0;
    }

    .project .project-card {
        height: 20rem;
    }

    .project .project-card__title {
        font-size: 1.1rem;
        writing-mode: horizontal-tb;
        transform: none;
        padding-inline: 0.3rem;
        margin-top: 10px;
    }



    .project-card__tags {
        text-align: end;
        z-index: 900000000;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translatey(-50%);
    }

    .project .project-card__thumb {
        display: none;
    }
}

@media (max-width: 767px) {
    :root {
        --closed: 100%;
        --open: 100%;
        --gap: 0.8rem;
    }

    .project .head {
        padding: 30px 15px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .project .slider {
        padding: 0 15px;
    }

    .project .track {
        flex-direction: column;
        scroll-snap-type: y mandatory;
        gap: 0.8rem;
        padding-bottom: 20px;
    }

    .project .project-card {
        height: auto;
        min-height: 80px;
        flex: 0 0 auto;
        width: 100%;
        scroll-snap-align: start;
    }

    .project .project-card[active] {
        min-height: 300px;
        transform: none;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    }

    .project .project-card__content {
        justify-content: flex-start;

        padding: 1rem;
        gap: 1rem;
    }

    .project .project-card__title {
        writing-mode: horizontal-tb;
        transform: none;
        font-size: 1.2rem;
        margin-right: auto;
    }

    .project .project-card__thumb,
    .project .project-card__desc,
    .project .project-card__btn {
        display: none;
    }

    .project .project-card[active] .project-card__content {
        align-items: flex-start;
        padding: 1.5rem;
    }

    .project .project-card[active] {
        flex-basis: 70vh;
    }

    .project .project-card[active] .project-card__title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }


    .project .project-card[active] .project-card__thumb {
        width: 10vw;
        border-radius: 0.35rem;
    }

    .project .project-card[active] .project-card__desc {
        font-size: 0.95rem;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .project .project-card[active] .project-card__tags {

        top: 30px;

    }

    .project .project-card[active] .project-card__btn {
        align-self: center;
        width: 100%;
        text-align: center;
        padding: 0.7rem;
    }

    .project .dots {
        display: none;
    }

    .project .controls {
        display: none;
    }

    .project .nav-btn {
        position: static;
        transform: none;
    }

}

@media screen and (max-width:400px) {
    .project .controls {
        display: none;
    }

    .profile-bg {
        left: 0;
    }

    h1 {
        font-size: 10vw;
    }

    .italianno {
        font-size: 30vw;
    }
}




/* 탑버튼 */
#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 14px 18px;
    font-size: 18px;
    background: #ffffff;
    color: #111;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    box-shadow: 0 0 12px #990909a1;
    z-index: 999999999999999;
}

#scrollTopBtn.show {
    opacity: 1;
    pointer-events: auto;
}

/* 탑버튼 end */


@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.scroll-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: transparent !important;
    color: black;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}

/* skills end */




@media (max-width: 1240px) {

    caption {
        font-size: 24px;
        left: 20px;
        top: 16px;
    }



}

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 2rem;
    }

    .profile {
        width: 40%;
        justify-content: center;
    }


}



@media screen and (max-width: 700px) {
    caption {
        background-color: #ffffffc2;
        width: 100vw;
        top: 0px;
        left: 0px;
        padding: 12px;
    }

    caption img {
        width: 45%;
    }

    h1 {
        font-size: 5vw;
        margin-top: 7rem;
        flex-direction: column;
    }

    h1 span {
        display: block;
        font-size: 1.4rem;
    }

    .profile {
        background-color: #ffffffcb;
    }

    .profile .photo {
        width: 130px;
        height: 150px;
    }

    .profile .text .job {
        display: block;
        margin-top: 4px;
    }

    .profile .text {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.4rem;
    }

    .profile {
        width: 100%;

    }

    h1 span {
        font-size: 4rem;
    }
}